header{
    background-color: #4650BD;
    padding: 32px 120px;
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav a{
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

main{
    border: 1px solid blue;
    padding: 32px 120px;
}

footer{
    border: 1px solid green;
    padding: 32px 120px;
    
}