:root{
    --fonte-titulos: 'Calistoga', cursive;
    --fonte-textos: 'Raleway', sans-serif;
}


header{
    background-color: #4650BD;
    padding: 32px 120px;
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 32px;
}

nav a{
    color: white;
    /* padding: 0 32px; */
    text-decoration: none;
    font-family: var(--fonte-textos);
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
}

main{
    border: 1px solid blue;
    padding: 32px 120px;
}

footer{
    border: 1px solid green;
    padding: 32px 120px;
    
}